<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1092304441121-3c8clnres4736hvbsct6gu5idbq0nf6h.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1092304441121-3c8clnres4736hvbsct6gu5idbq0nf6h</string>
	<key>API_KEY</key>
	<string>AIzaSyDcGcSaO-QY6HkDmHwUdHSnJFm2ABLmJ0A</string>
	<key>GCM_SENDER_ID</key>
	<string>1092304441121</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.IOSSiri.TwitterSwiftUI</string>
	<key>PROJECT_ID</key>
	<string>twittercloneapp-399a0</string>
	<key>STORAGE_BUCKET</key>
	<string>twittercloneapp-399a0.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1092304441121:ios:3e347d3c7cc14ce7a87860</string>
</dict>
</plist>